.headerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    line-height: 1.5;
    min-height: 60vh;
    width: clamp( 270px , 100%,  1200px);
    margin: 0 auto;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: opaq 2.2s linear 0s 1 forwards;
}

.typewritting {
    display: inline-block;
    position: relative;
    color: transparent;
    width: 3px;
    background-color: lightblue;
    animation: blinks 0.3s linear 4.5s infinite forwards;
}

.nex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin: 10px 0;
}

.nex button:nth-child(2) {
    background-color: transparent;
} 

@media screen and ( min-width : 900px ) {
    .wrap {
        width: 100%;
        flex-flow: row nowrap;
        font-size: medium;
    }

    .wrap aside {
        width: 50%;
    }
}

@media screen and ( min-width : 1200px ) {
    .wrap {
        width: 1200px;
        flex-flow: row wrap;
        font-size: large;
    }

    .wrap aside {
        width: 50%;
    }
}

@keyframes blinks {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}


@keyframes opaq {
    from {
        padding-top: 0px ;
        opacity: 0;
    }
    to {
        padding-top: 6rem ;
        opacity: 1;
    }
}