.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap: 1.4rem;
    padding: 1rem;
    width: 100%;
}

.contact button {
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form input {
    height: 32px;
    width: 100%;
    outline: 0;
    border: 1px solid darkslategray;
    padding: 0 1rem;
}

.form > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;
}

.btnMsg {
    width: fit-content;
    background: var(--bg-btn);
    color: white;
}

.btnMsg::hover {
    background: var(--bg-tone);
}

@media screen and (min-width: 640px ) {
    /* .contact {
    } */
}