.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1.4rem;
    width: 100%;
}

.contact aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .contact {
        flex-direction: row;
    }

    .contact aside {
        width: 40%;
    }
}