.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(260px, 100%, 1200px);
    position: fixed;
    left: calc(50% - clamp(120px, 50%, 600px));
    z-index: 5;
}

.hamburger {
    height: 42px;
    width: 42px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.hamburger:hover {
    background: none;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    height: 4px;
    width: 34px;
    border-radius: 5px;
    background: dimgray;
    margin: 4px auto;
    transition: all 0.4s ease-in-out;
}

.bar1 {
    background: orangered;
    position: relative;
}

.bar2 {
    width: 26px;
    margin-right: 4px;
}

.twist {
    z-index: 5;
}

.twist .bar2 {
    display: none;
}

.bar1::after {
    content: '';
    position: absolute;
    right: 0;
    top: 120%;
    width: 36px;
    height: 99%;
    border-radius: inherit;
    background: transparent;
}

.twist .bar1::after {
    animation-name: turnBar;
    animation-timing-function: linear;
    animation-duration: 0.53s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.twist .bar1 {
    transform: rotate(45deg) translate(2px, 2px) scale(1.2);
}

.twist .bar3 {
    transform: rotate(-45deg) translate(2px, -4px) scale(1.2);
}

@keyframes turnBar {
    0% {
        margin: auto;
        width: 26px;
        position: absolute;
        transform: rotate(-20deg);
    }

    100% {
        display: none;
        background: rgb(93, 0, 255);
        transform: rotate(360deg);
    }
}

/* .navMenu */
.navLinks {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    overflow: hidden;
    background: red;
}

.openMenu {
    transform: translate(0%);
    transition: all 0.5s linear;
}


.low {
    text-align: center;
    font-size: xx-small;
    width: 100%;
}

.navLinks a {
    display: block;
    color: var( --bg-dim);
}

@media screen and (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .navLinks, .openMenu {
        grid-template-columns: repeat( 3, 1fr );
        transform: translate(0%);
        width: clamp(225px, 250px, 400px);
        position: relative;
        background: transparent;
        height: 70px;
    }

    .navLinks blockquote, .navLinks .low {
        display: none;
    }
}

@keyframes showMenuAnime {
    0% {
        background: rgba(137, 43, 226, 0.306);
    }
    100% {
        background: rgb(4, 94, 94);
    }
}