

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem;
}

.show ,
.hide {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-out;
}

.show {
    height: 140px;
}

.accordion h3 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 216, 216);
    padding-bottom: 0.3rem;
}

.accordion a {
    background: var(--bg-tone);
    color: white;
    width: 80px;
    height: 40px;
    padding: 0.6rem;
    border-radius: 16px;
}

.accordion a::after {
    display: none;
}

.accordion a::before {
    content: 'Info';
    border-radius: inherit;
    height: inherit;
    background: red;
    top: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    position: absolute;
    display: grid;
    grid-template-columns: 80px;
    justify-content: center;
    align-items: center;
    width: 0;
    opacity: 0;
    transition: all 0.1s linear;
}

.accordion a:hover::before {
    opacity: 0.9;
    width: 100%;
}